/.env
/file.pdf
/yurt.pdf
Data/
chroma_db/
.venv2/.venv/
.venv2/
venv/
__pycache__/
*.pyc
*.pyd
*.pyo
*.dll
*.lib
*.so
*.egg-info/
*.parquet
*.duckdb
chroma_db/
.venv/
.venv2/
venv/
__pycache__/
*.pyc
*.pyd
*.pyo
*.dll
*.lib
*.so
*.egg-info/
*.parquet
*.duckdb
chroma_db/
